src/main/resources/schema_record.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="history">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="run" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="date" type="xs:string"/>
                            <xs:element name="room" type="xs:integer"/>
                            <xs:element name="kills" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>